{% include 'base.html' %}
{% load static %}
{% block css_styles %}
  <link rel="stylesheet" href="{% static 'new/update.css' %}" />
{% endblock css_styles %}





{% block content %}
    
<section id="content">
    <nav>
      <i class="bx bx-menu"></i>
      <!-- <a href="#" class="nav-link">Categories</a> -->
      <form action="{% url 'search' %}" method="GET">
        <div class="form-input">
          <input type="search" placeholder="Search..." name="search" />
          <button type="submit" class="search-btn">
            <i class="bx bx-search"></i>
          </button>
        </div>
      </form>
      <input type="checkbox" id="switch-mode" hidden />
      <label for="switch-mode" class="switch-mode"></label>
      
      <a href="{% url 'profile' %}" class="profile">
        <img src="{{request.user.profile.photo.url}}" />
      </a>
    </nav>

    <main>

        <div class="cont">
            <div class="video">
              
                <div class="name">Update Your Profile</div>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in userForm %}
                        <div class="update-profile">
                            <label class="label-update">{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}

                        {% for field in profileForm %}
                        <div class="update-profile">
                            <label class="label-update">{{field.label}}</label>
                               {% if field.name == 'photo' %}
                                <input type="file" name="{{ field.name }}" 
                                    id="{{ field.auto_id }}" class="upload-btn" 
                                    accept="images/*"
                                    >
                                {% else %}

                                {{field}}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <input id="upload-btn" type="submit" value="Update" />
                    </form>

                

              
            </div>

          
        </div>
      
    </main>
  </section>
{% endblock content %}



  
  
{% block js_files %}
<script src="{% static 'new/script.js' %}"></script>
{% endblock js_files %}