
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    {% comment %} <link rel="stylesheet" href="{% static 'new/style2.css' %}" /> {% endcomment %}
    
    {% block css_styles %}
        
    {% endblock css_styles %}
        
    <title>AdminHub</title>
  </head>

  
  <body>
    <!-- SIDEBAR -->
    {% include 'sidebar.html' %}
    {% comment %} <section id="sidebar">
      <a href="{% url 'upload-video' %}" class="brand">
        <i class="bx bxs-smile"></i>
        <span class="text">Hand👋️Speak</span>
      </a>
      <ul class="side-menu top">
        <li class="active">
          <a href="{% url 'upload-video' %}">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Home</span>
          </a>
        </li>
        <li>
          <a href="{% url 'live' %}">
            <i class="bx bxs-shopping-bag-alt"></i>
            <span class="text">Camera</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Learn</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-message-dots"></i>
            <span class="text">Message</span>
          </a>
        </li>
        <li>
          <a class="{% if request.path == group_team %}
            active
          {% endif %}" href="{% url 'team' %}">
            <i class="bx bxs-group"></i>
            <span class="text">Team</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="{% url 'profile' %}">
            <i class="bx bxs-cog"></i>
            <span class="text">Settings</span>
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section> {% endcomment %}
    <!-- SIDEBAR -->
    <!-- CONTENT -->

    {% block content %}
            
    {% endblock content %}

    
    {% block js_files %}
    
    {% endblock js_files %}
    
</body>
</html>
